.card {
  position: relative;
}

.card__title {
  background-color: #ffffff;
  border-radius: 4px;
  display: block;
  padding: 2px 4px;
  color: #00000099;
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
  position: absolute;
  top: 16px;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
}

.card__image {
  display: block;
  width: 323px;
  height: 328px;
  border-radius: 19px;
  border: 1px solid #0000004d;
  cursor: pointer;
}
