.sidebar__user-container {
  display: flex;
  align-items: center;
  margin: 0 116px 0 0;
  width: 229px;
}
.sidebar__username {
  white-space: nowrap;
  margin: 0;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  padding: 0;
}
.sidebar__avatar {
  height: 56px;
  width: 56px;
  margin-right: 16px;
}
