@import url(./vendor/normalize.css);
@import "./blocks/App.css";
@import "./blocks/Header.css";
@import "./blocks/Footer.css";
@import "./blocks/Main.css";
@import "./blocks/ItemCard.css";
@import "./blocks/ItemModal.css";
@import "./blocks/ModalWithForm.css";
@import "./blocks/WeatherCard.css";

@font-face {
  font-family: "Cabinet Grotesk";
  src: url("./CabinetGrotesk-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cabinet Grotesk";
  src: url("./CabinetGrotesk-Bold.woff") format("woff");
  font-weight: 700;
  font-style: bold;
  font-display: swap;
}

body {
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 500;
  margin: 0;
}
