.cards__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 20px;
  align-items: center;
  padding: 0;
  margin: 0;
}

.card {
  position: relative;
}

.cards {
  width: 100%;
}

.card__title {
  background-color: #ffffff;
  border-radius: 4px;
  display: block;
  padding: 2px 4px;
  color: #00000099;
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
  position: absolute;
  top: 16px;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
}

.card__image {
  width: 100%;
  display: block;
  width: 328px;
  height: 328px;
  top: 279px;
  left: 385px;
}
