.cards {
  width: 100%;
}

.cards__greeting {
  color: #000000;
  margin: 40px 0 32px;
  font-weight: 700;
  font-style: Bold;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
}

.cards__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  align-items: center;
  padding: 0;
  margin: 0;
  gap: 20px;
}
